<table cellspacing="0" cellpadding="0" class="classLayout">
	<tr>
		<td rowspan="3">$af:title$</td>
		<td>$af:firstName$</td>
	</tr>
	<tr>
		<td>$af:lastName$</td>
	</tr>
	<tr>
		<td>$af:email$</td>
	</tr>
	<af:iteration-part maxOccurs="1">
		<tr>
			<td>$af:next$</td>
			<td>$af:next$</td>
		</tr>
	</af:iteration-part>
	<tr>
		<td colspan="2">
			<h2>And we also need your organization address:</h2>
		</td>
	</tr>
	<tr>
		<td rowspan="3">$af:organizationName$</td>
		<td>$af:addressLine1$</td>
	</tr>
	<tr>
		<td>$af:addressLine2$</td>
	</tr>
	<tr>
		<td>$af:vat$</td>
	</tr>
	<af:iteration-part maxOccurs="10">
		<tr>
			<td>$af:next$</td>
			<td>$af:next$</td>
		</tr>
	</af:iteration-part>
</table>
