<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:ui="http://java.sun.com/jsf/facelets"
			 xmlns:f="http://java.sun.com/jsf/core"
			 xmlns:h="http://java.sun.com/jsf/html"
			 template="#{empty template ? '/WEB-INF/af/profile/html/switcher.xhtml' : template}">

	<ui:param name="rendered" value="#{empty render$field.firstToUpper()$ ? 'true' : render$field.firstToUpper()$}"/>
	<ui:param name="label" value="#{text['$entityBean.shortClassName().firstToLower()$.$field$']}"/>
	<ui:param name="id" value="#{prefix}$field$"/>
	<ui:param name="required" value="#{empty required$field.firstToUpper()$ ? $required$ : required$field.firstToUpper()$}"/>
	<ui:param name="title" value="#{text['title.$entityBean.shortClassName().firstToLower()$.$field$']}"/>
	<ui:param name="value" value="#{$entityBean.shortClassName()$.$field$}"/>
	<ui:param name="collection" value="#{$collection$}"/>
	<ui:param name="itemCustomLabel" value="$collectionItemRepresentation$"/>
	<ui:param name="entityType" value="$dataType$"/>

	<ui:define name="input">
		<h:selectOneMenu
				id="#{id}"
				title="#{empty title ? label : title}"
				required="#{empty required ? false : required}"
				value="#{value}"
				converter="#{generalConverter}">
			<f:selectItems
					value="#{collection}"
					var="item"
					itemValue="#{item}"
					itemLabel="#{not empty itemCustomLabel and entityType != 'String' ? item.itemCustomLabel : item}"
					noSelectionLabel="#{(empty emptySelectLabel and not hideEmpty) ? ' ' : (hideEmpty ? null : emptySelectLabel)}"
					hideNoSelectionLabel="#{empty hideEmpty ? false : hideEmpty}"/>
		</h:selectOneMenu>
	</ui:define>

	<ui:define name="output">
		<h:outputText rendered="#{not empty value}" value="#{not empty itemCustomLabel and entityType != 'String' ? value.itemCustomLabel : value}"/>
	</ui:define>

</ui:decorate>
