<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html">
	<div class="property" id="#{id}ROProp">
		<h:outputLabel value="#{label}" class="name #{noBreak?'noBreak':''}">
			<h:outputText value="#{empty labelSuffix ? ':' : labelSuffix}"
						  rendered="#{empty showLabelSuffix ? true : showLabelSuffix}"/>
			<ui:fragment rendered="#{required or forceRequired}">
				<span class="required">*</span>
			</ui:fragment>
		</h:outputLabel>
		<span class="value">
			<ui:insert/>
		</span>
	</div>
</ui:composition>
