<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
    <ui:define name="edit">
	<p:calendar value="#{value}"
		    effect="fold"
		    pattern="#{empty pattern ? 'MM/dd/yyyy' : pattern}"
		    inputSize="#{empty size ? '10' : size}"
		    required="#{empty required ? 'false' : required}"
		    id="#{id}"
		    title="#{empty title ? label : title}"
		    oninputblur="validateInputDate(this,#{empty required ? 'false' : required},#{empty future ? 'false' : future},#{empty past ? 'false' : past},'#{text['client.validator.date']}');"
		    oncollapse="validateInputDate(this,#{empty required ? 'false' : required},#{empty future ? 'false' : future},#{empty past ? 'false' : past},'#{text['client.validator.date']}');"
		/>
    </ui:define>
    <ui:define name="view">
	<h:outputText value="#{value}" id="#{id}View">
	    <f:convertDateTime pattern="#{empty pattern ? 'MM/dd/yyyy' : pattern}"/>
	</h:outputText>
    </ui:define>
</ui:composition>
</body>
</html>


