<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:composition template="/WEB-INF/af/profile/primeFaces/widgets/viewEditSwitch.xhtml">
    <ui:define name="edit">
	<p:inputTextarea
		rendered="#{empty rendered ? 'true' : rendered}"
		required="#{empty required ? 'false' : required}"
		readonly="#{empty readonly ? 'false' : readonly}"
		id="#{id}"
		maxlength="#{empty maxlength ? '255' : maxlength}"
		size="#{empty size ? '20' : size}"
		title="#{empty title ? label : title}"
		cols="#{empty cols ? '25' : cols}"
		rows="#{empty rows ? '4' : rows}"
		value="#{value}">
	    <ui:insert/>
	</p:inputTextarea>
	<p:commandLink id="#{id}HtmlLink" styleClass="popup link"
		       rendered="true" title="Preview of #{label}" type="button"
		       onclick="displayHTML(this,'Preview of #{label}'); return false;">Show</p:commandLink>
    </ui:define>
    <ui:define name="view">
	<h:inputHidden id="hidden#{id}" value="#{value}"/>
	<p:commandLink id="#{id}Html" styleClass="popup link"
		       rendered="#{not empty value}" title="Preview of #{label}" type="button"
		       onclick="displayHTML(this,'Preview of #{label}'); return false;">Show</p:commandLink>
    </ui:define>
</ui:composition>
</body>
</html>
