<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:util="http://codingcrayons.com/aspectfaces">
<body>
<ui:composition>
    <h:outputLink id="link#{id}" styleClass="#{empty styleClass ? 'popup' : styleClass} link " destination="#{value}"
		  rendered="#{(not empty value and not empty label) and (empty rendered ? true : rendered)}"
		  target="_blank" title="Link to #{title}"
		  disabled="#{empty disabled ? false : disabled}"
		  onclick="#{(value eq '') or (value eq 'http://') ? ' alert(\'No content available\');return false;':''}"
		  value="#{util:correctUrl(value)}">#{empty label ? value : label}</h:outputLink>
</ui:composition>
</body>
</html>
