<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
<ui:component rendered="#{empty rendered ? true : rendered}">
    <ui:fragment rendered="#{empty edit ? false : edit}">
	<ui:decorate template="/WEB-INF/af/profile/primeFaces/widgets/edit.xhtml">
	    <ui:insert name="edit"/>
	</ui:decorate>
    </ui:fragment>
    <ui:fragment rendered="#{empty edit ? true : not edit}">
	<ui:insert name="view">
	    <h:outputText value="#{value}" id="#{id}View"/>
	</ui:insert>
    </ui:fragment>
</ui:component>
</body>
</html>
